<?xml version="1.0"?>
<launch>


<!-- get the arguments from  -->
<arg name="profile" default="default" doc="Configuration profile to use" />
<arg name="debug" default="False" doc="Whether debug is on" />
<arg name="plot_profile" default="2channels" doc="The plotting config profile" />




<!-- Bring up the pressure controller -->
<include file="$(find pressure_controller_ros)/launch/bringup_HID.launch">
	<arg name="profile" value="$(arg profile)"/>
	<arg name="debug" value="$(arg debug)"/>
	<arg name="plot_profile" value="$(arg plot_profile)"/>
</include>


</launch>