<?xml version="1.0"?>
<launch>


<!-- get the arguments from  -->
<arg name="traj" doc="Configuration profile to use" />
<arg name="debug" default="False" doc="Whether debug is on" />
<arg name="speed_factor" default="1.0" doc="the speed to run the trajectory at" />
<arg name="reps" default="1" doc="The number of reps" />
<arg name="replan" default="false" doc="The number of reps" />
<arg name="start" default="0" doc="The number of reps" />

<arg name="arm" default="true" doc="Use the arm" />
<arg name="hand" default="true" doc="Use the hand" />
<arg name="save" default="true" doc="Save data" />
<arg name="fake" default="false" doc="Save data" />


<!-- Load controller settings -->

    <node name="pick_and_place_node" pkg="hand_arm" type="pick_place_run_multi.py" respawn="false"
    	output="screen">
      	<param name="traj_profile" type="str" value="$(arg traj)" />
      	<param name="speed_factor" type="double" value="$(arg speed_factor)" />
      	<param name="num_reps" type="int" value="$(arg reps)" />
      	<param name="replan" type="bool" value="$(arg replan)" />
      	<param name="start" type="int" value="$(arg start)" />
      	<param name="use_arm" type="bool" value="$(arg arm)" />
      	<param name="use_hand" type="bool" value="$(arg hand)" />
      	<param name="save_data" type="bool" value="$(arg save)" />
      	<param name="fake" type="bool" value="$(arg fake)" />
    </node>


    <!--
    <node name="recorder_server" pkg="rosbag_recorder"
    	  type="rosbag_recorder_server.py" respawn="false"
    	  output="screen"
    	  if="$(eval save)">
    	<remap from="record_topics" to="rosbag_recorder/record_topics" />
		<remap from="stop_recording" to="rosbag_recorder/stop_recording" />
		<param name="pickle_on_complete" type="bool" value="true" />
    </node>
	-->



</launch>