<?xml version="1.0"?>
<launch>


<!-- get the arguments from  -->
<arg name="traj" doc="Configuration profile to use" />



<include file="$(find pressure_controller_ros)/launch/bringup_HID.launch">
	<arg name="traj" value="$(arg traj)"/>
</include>



    <node name="pick_and_place_builder_node" pkg="hand_arm" type="pick_place_build_multi.py" respawn="false"
    	output="screen">
      	<param name="traj_profile" type="str" value="$(arg traj)" />
    </node>


</launch>